<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID Pauta</th>
      <td mat-cell *matCellDef="let sessao"> {{sessao.sessao.id}} </td>
    </ng-container>

    <ng-container matColumnDef="inicio">
      <th mat-header-cell *matHeaderCellDef> Início </th>
      <td mat-cell *matCellDef="let sessao"> {{sessao.sessao.inicio | date: 'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="fim">
      <th mat-header-cell *matHeaderCellDef> Fim </th>
      <td mat-cell *matCellDef="let sessao"> {{sessao.sessao.fim | date: 'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let sessao"> {{sessao.aberto ? "Fechada" : "Aberta"}} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let sessao">
        <button mat-icon-button color="primary" (click)="editar(sessao)" title="Editar sessão">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletar(sessao)" title="Deletar sessão">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="votar(sessao)" title="Votar na sessão">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="resultado(sessao)" title="Resultado da votação por sessão">
          <mat-icon>home</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>
</div>
